In [292]:
import pandas as pd
import os
import pymongo  
import csv
import JLParser as ps
import JLFileMgr as fm
import JLScraper as sc 
import datetime as dt
import numpy as np

### Janie's Data Science Job Analysis for Tennessee  2017
----
* Select the desired columns from MongoDB and read back to dataframe for analysis
* Save result dataset into excel sheet in Output directory

#### Get selected data back from MongoDB, merge, and output to csv.

In [377]:
# Get employment total by state
employ_data = pd.DataFrame.from_records(db.employment.find({'Occ_Group': 'total'}, {'State': 1, 'Tot_Emp': 1,
                                                        'Yr_Mean_Wage': 1, 'Hr_Mean_Wage': 1, '_id': 0 }))
employ_data = employ_data.rename(columns={"Tot_Emp": "Employment"})
employ_data.shape

(54, 4)

In [378]:
# Get employment total by state
pop_data = pd.DataFrame.from_records(db.population.find({}, {'State': 1, 'Population': 1, '_id': 0 }))

pop_data.shape

(51, 2)

In [379]:
employ_df = pd.merge(employ_data, pop_data, how="left", on="State")
employ_df = employ_df.fillna(0)
employ_df["Population"] = employ_df["Population"].astype(int)
employ_df["Yr_Mean_Wage"] = employ_df["Yr_Mean_Wage"].astype(int)
employ_rt = employ_df[["State", "Population", "Employment", "Yr_Mean_Wage", "Hr_Mean_Wage"]]
employ_rt.head()

        State  Population  Employment  Yr_Mean_Wage  Hr_Mean_Wage
0     Alabama     4874747     1922570         43170         20.76
1      Alaska      739795      318170         57750         27.77
2     Arizona     7016270     2704050         48160         23.15
3    Arkansas     3004279     1200130         40530         19.49
4  California    39536653    16695010         57190         27.50

In [380]:
# Employment and average wage by state output excel file
Employ_rt_path = os.path.join(".", "Output", "Employment_State_2017.csv")
employ_rt.to_csv(Employ_rt_path)

# Sort by annual wage
employ_rt = employ_rt.sort_values("Yr_Mean_Wage", ascending=False)
employ_rt.head()

                   State  Population  Employment  Yr_Mean_Wage  Hr_Mean_Wage
8   District of Columbia      693972      708220         85720         41.21
21         Massachusetts     6859819     3528070         62110         29.86
32              New York    19849399     9207870         60100         28.90
6            Connecticut     3588184     1654420         59410         28.56
1                 Alaska      739795      318170         57750         27.77

In [381]:
# US Employment and average wage by occupation category
employ_data = pd.DataFrame.from_records(db.employment.find({'Occ_Group': 'major'}, {'State': 1, 'Occupation': 1, 'Tot_Emp': 1,
                                                        'Yr_Mean_Wage': 1, 'Hr_Mean_Wage': 1, 'Jobs_1000': 1, '_id': 0}))

employ_data["Occupation"] = employ_data["Occupation"].str.replace(" Occupations", "")
occ_grp = employ_data.groupby("Occupation")
avg_yr_wage = occ_grp["Yr_Mean_Wage"].mean().map("${:,.2f}".format)

employ_summary = pd.DataFrame({"Avg Wage/Yr": avg_yr_wage})
employ_summary["Avg Wage/Hr"] = occ_grp["Hr_Mean_Wage"].mean().map("${:,.2f}".format)
employ_summary["Employment"] = occ_grp["Tot_Emp"].sum().map("{:,}".format)

employ_summary

,Avg Wage/Yr,Avg Wage/Hr,Employment
Occupation,,,
Architecture and Engineering,"$80,754.44",$38.83,"2,531,630"
"Arts, Design, Entertainment, Sports, and Media","$50,777.78",$24.41,"1,933,340"
Building and Grounds Cleaning and Maintenance,"$28,180.37",$13.55,"4,470,290"
Business and Financial Operations,"$70,007.59",$33.66,"7,518,560"
Community and Social Service,"$45,864.26",$22.05,"2,113,720"
Computer and Mathematical,"$79,656.30",$38.30,"4,273,060"
Construction and Extraction,"$48,161.48",$23.15,"5,762,060"
"Education, Training, and Library","$52,036.48",$25.02,"8,800,500"
"Farming, Fishing, and Forestry","$32,433.15",$15.59,"472,900"
Food Preparation and Serving Related,"$24,333.33",$11.70,"13,275,170"
Healthcare Practitioners and Technical,"$78,636.85",$37.81,"8,562,280"
Healthcare Support,"$31,052.22",$14.93,"4,124,530"
"Installation, Maintenance, and Repair","$47,378.70",$22.78,"5,562,360"
Legal,"$92,643.52",$44.54,"1,101,380"
"Life, Physical, and Social Science","$68,460.56",$32.91,"1,154,620"
Management,"$109,027.41",$52.42,"7,327,160"
Office and Administrative Support,"$36,782.78",$17.69,"22,144,580"
Personal Care and Service,"$26,668.52",$12.82,"5,177,990"
Production,"$38,712.96",$18.61,"9,083,980"
Protective Service,"$44,551.67",$21.42,"3,467,870"
Sales and Related,"$37,982.22",$18.26,"14,638,710"
Transportation and Material Moving,"$36,971.30",$17.77,"10,027,440"

In [382]:
# Employment and average wage by state output excel file
occ_path = os.path.join(".", "Output", "Employment_Occupation_2017.csv")
employ_data.to_csv(occ_path)

In [383]:
tn_data = employ_data.loc[(employ_data["Occupation"] == "Computer and Mathematical") & ((employ_data["State"] == "New Jersey") | (employ_data["State"] == "Tennessee"))]  
tn_data

,Hr_Mean_Wage,Jobs_1000,Occupation,State,Tot_Emp,Yr_Mean_Wage
662,48.34,34.846,Computer and Mathematical,New Jersey,139640,100540.0
926,35.60,18.770,Computer and Mathematical,Tennessee,54730,74050.0

In [384]:
# US Employment and average wage by specific occupation
occ_data = pd.DataFrame.from_records(db.employment.find({'Occ_Group': 'detailed'}, {'State': 1, 'Occupation': 1, 'Tot_Emp': 1,
                                                        'Yr_Mean_Wage': 1, 'Hr_Mean_Wage': 1, 'Jobs_1000': 1, '_id': 0}))

occ_data["Occupation"].unique()

array(['Chief Executives', 'General and Operations Managers',
       'Legislators', 'Advertising and Promotions Managers',
       'Marketing Managers', 'Sales Managers',
       'Public Relations and Fundraising Managers',
       'Administrative Services Managers',
       'Computer and Information Systems Managers', 'Financial Managers',
       'Industrial Production Managers', 'Purchasing Managers',
       'Transportation, Storage, and Distribution Managers',
       'Compensation and Benefits Managers', 'Human Resources Managers',
       'Training and Development Managers', 'Construction Managers',
       'Education Administrators, Preschool and Childcare Center/Program',
       'Education Administrators, Elementary and Secondary School',
       'Education Administrators, Postsecondary',
       'Education Administrators, All Other',
       'Architectural and Engineering Managers', 'Food Service Managers',
       'Funeral Service Managers', 'Lodging Managers',
       'Medical and Health Services Managers',
       'Natural Sciences Managers',
       'Postmasters and Mail Superintendents',
       'Property, Real Estate, and Community Association Managers',
       'Social and Community Service Managers',
       'Emergency Management Directors', 'Managers, All Other',
       'Buyers and Purchasing Agents',
       'Claims Adjusters, Examiners, and Investigators',
       'Insurance Appraisers, Auto Damage', 'Compliance Officers',
       'Cost Estimators', 'Human Resources Specialists',
       'Labor Relations Specialists', 'Logisticians',
       'Management Analysts', 'Meeting, Convention, and Event Planners',
       'Fundraisers',
       'Compensation, Benefits, and Job Analysis Specialists',
       'Training and Development Specialists',
       'Market Research Analysts and Marketing Specialists',
       'Business Operations Specialists, All Other',
       'Accountants and Auditors',
       'Appraisers and Assessors of Real Estate', 'Budget Analysts',
       'Credit Analysts', 'Financial Analysts',
       'Personal Financial Advisors', 'Insurance Underwriters',
       'Financial Examiners', 'Credit Counselors', 'Loan Officers',
       'Tax Examiners and Collectors, and Revenue Agents',
       'Tax Preparers', 'Financial Specialists, All Other',
       'Computer Systems Analysts', 'Information Security Analysts',
       'Computer Programmers', 'Software Developers, Applications',
       'Software Developers, Systems Software', 'Web Developers',
       'Database Administrators',
       'Network and Computer Systems Administrators',
       'Computer Network Architects', 'Computer User Support Specialists',
       'Computer Network Support Specialists',
       'Computer Occupations, All Other', 'Actuaries',
       'Operations Research Analysts', 'Statisticians',
       'Architects, Except Landscape and Naval', 'Landscape Architects',
       'Cartographers and Photogrammetrists', 'Surveyors',
       'Aerospace Engineers', 'Chemical Engineers', 'Civil Engineers',
       'Computer Hardware Engineers', 'Electrical Engineers',
       'Electronics Engineers, Except Computer',
       'Environmental Engineers',
       'Health and Safety Engineers, Except Mining Safety Engineers and Inspectors',
       'Industrial Engineers', 'Materials Engineers',
       'Mechanical Engineers',
       'Mining and Geological Engineers, Including Mining Safety Engineers',
       'Nuclear Engineers', 'Petroleum Engineers', 'Engineers, All Other',
       'Architectural and Civil Drafters',
       'Electrical and Electronics Drafters', 'Mechanical Drafters',
       'Drafters, All Other',
       'Aerospace Engineering and Operations Technicians',
       'Civil Engineering Technicians',
       'Electrical and Electronics Engineering Technicians',
       'Electro-Mechanical Technicians',
       'Environmental Engineering Technicians',
       'Industrial Engineering Technicians',
       'Mechanical Engineering Technicians',
       'Engineering Technicians, Except Drafters, All Other',
       'Surveying and Mapping Technicians',
       'Food Scientists and Technologists', 'Soil and Plant Scientists',
       'Microbiologists', 'Zoologists and Wildlife Biologists',
       'Biological Scientists, All Other', 'Conservation Scientists',
       'Foresters', 'Medical Scientists, Except Epidemiologists',
       'Life Scientists, All Other', 'Physicists',
       'Atmospheric and Space Scientists', 'Chemists',
       'Materials Scientists',
       'Environmental Scientists and Specialists, Including Health',
       'Geoscientists, Except Hydrologists and Geographers',
       'Physical Scientists, All Other', 'Economists',
       'Clinical, Counseling, and School Psychologists',
       'Psychologists, All Other', 'Urban and Regional Planners',
       'Anthropologists and Archeologists', 'Historians',
       'Social Scientists and Related Workers, All Other',
       'Agricultural and Food Science Technicians',
       'Biological Technicians', 'Chemical Technicians',
       'Geological and Petroleum Technicians',
       'Environmental Science and Protection Technicians, Including Health',
       'Forensic Science Technicians',
       'Forest and Conservation Technicians',
       'Life, Physical, and Social Science Technicians, All Other',
       'Educational, Guidance, School, and Vocational Counselors',
       'Marriage and Family Therapists', 'Rehabilitation Counselors',
       'Substance Abuse, Behavioral Disorder, and Mental Health Counselors',
       'Counselors, All Other',
       'Child, Family, and School Social Workers',
       'Healthcare Social Workers',
       'Mental Health and Substance Abuse Social Workers',
       'Social Workers, All Other', 'Health Educators',
       'Probation Officers and Correctional Treatment Specialists',
       'Social and Human Service Assistants', 'Community Health Workers',
       'Community and Social Service Specialists, All Other', 'Clergy',
       'Directors, Religious Activities and Education', 'Lawyers',
       'Administrative Law Judges, Adjudicators, and Hearing Officers',
       'Arbitrators, Mediators, and Conciliators',
       'Judges, Magistrate Judges, and Magistrates',
       'Paralegals and Legal Assistants', 'Court Reporters',
       'Title Examiners, Abstractors, and Searchers',
       'Legal Support Workers, All Other',
       'Business Teachers, Postsecondary',
       'Computer Science Teachers, Postsecondary',
       'Mathematical Science Teachers, Postsecondary',
       'Architecture Teachers, Postsecondary',
       'Engineering Teachers, Postsecondary',
       'Agricultural Sciences Teachers, Postsecondary',
       'Biological Science Teachers, Postsecondary',
       'Atmospheric, Earth, Marine, and Space Sciences Teachers, Postsecondary',
       'Chemistry Teachers, Postsecondary',
       'Physics Teachers, Postsecondary',
       'Anthropology and Archeology Teachers, Postsecondary',
       'Economics Teachers, Postsecondary',
       'Geography Teachers, Postsecondary',
       'Political Science Teachers, Postsecondary',
       'Psychology Teachers, Postsecondary',
       'Sociology Teachers, Postsecondary',
       'Health Specialties Teachers, Postsecondary',
       'Nursing Instructors and Teachers, Postsecondary',
       'Education Teachers, Postsecondary',
       'Library Science Teachers, Postsecondary',
       'Criminal Justice and Law Enforcement Teachers, Postsecondary',
       'Law Teachers, Postsecondary',
       'Art, Drama, and Music Teachers, Postsecondary',
       'Communications Teachers, Postsecondary',
       'English Language and Literature Teachers, Postsecondary',
       'Foreign Language and Literature Teachers, Postsecondary',
       'History Teachers, Postsecondary',
       'Philosophy and Religion Teachers, Postsecondary',
       'Graduate Teaching Assistants',
       'Home Economics Teachers, Postsecondary',
       'Recreation and Fitness Studies Teachers, Postsecondary',
       'Vocational Education Teachers, Postsecondary',
       'Postsecondary Teachers, All Other',
       'Preschool Teachers, Except Special Education',
       'Kindergarten Teachers, Except Special Education',
       'Elementary School Teachers, Except Special Education',
       'Middle School Teachers, Except Special and Career/Technical Education',
       'Secondary School Teachers, Except Special and Career/Technical Education',
       'Career/Technical Education Teachers, Secondary School',
       'Special Education Teachers, Preschool',
       'Special Education Teachers, Kindergarten and Elementary School',
       'Special Education Teachers, Middle School',
       'Special Education Teachers, Secondary School',
       'Adult Basic and Secondary Education and Literacy Teachers and Instructors',
       'Self-Enrichment Education Teachers',
       'Teachers and Instructors, All Other, Except Substitute Teachers',
       'Substitute Teachers', 'Archivists', 'Curators',
       'Museum Technicians and Conservators', 'Librarians',
       'Library Technicians', 'Farm and Home Management Advisors',
       'Instructional Coordinators', 'Teacher Assistants',
       'Education, Training, and Library Workers, All Other',
       'Art Directors', 'Craft Artists',
       'Multimedia Artists and Animators',
       'Artists and Related Workers, All Other',
       'Commercial and Industrial Designers', 'Floral Designers',
       'Graphic Designers', 'Interior Designers',
       'Merchandise Displayers and Window Trimmers',
       'Set and Exhibit Designers', 'Designers, All Other',
       'Producers and Directors', 'Coaches and Scouts',
       'Umpires, Referees, and Other Sports Officials',
       'Music Directors and Composers', 'Musicians and Singers',
       'Entertainers and Performers, Sports and Related Workers, All Other',
       'Radio and Television Announcers',
       'Public Address System and Other Announcers',
       'Reporters and Correspondents', 'Public Relations Specialists',
       'Editors', 'Technical Writers', 'Writers and Authors',
       'Interpreters and Translators',
       'Audio and Video Equipment Technicians', 'Broadcast Technicians',
       'Photographers',
       'Camera Operators, Television, Video, and Motion Picture',
       'Film and Video Editors',
       'Media and Communication Equipment Workers, All Other',
       'Chiropractors', 'Dentists, General', 'Orthodontists',
       'Dentists, All Other Specialists', 'Dietitians and Nutritionists',
       'Optometrists', 'Pharmacists', 'Anesthesiologists',
       'Family and General Practitioners', 'Internists, General',
       'Obstetricians and Gynecologists', 'Pediatricians, General',
       'Psychiatrists', 'Surgeons', 'Physicians and Surgeons, All Other',
       'Physician Assistants', 'Podiatrists', 'Occupational Therapists',
       'Physical Therapists', 'Radiation Therapists',
       'Recreational Therapists', 'Respiratory Therapists',
       'Speech-Language Pathologists', 'Exercise Physiologists',
       'Veterinarians', 'Registered Nurses', 'Nurse Anesthetists',
       'Nurse Practitioners', 'Audiologists',
       'Health Diagnosing and Treating Practitioners, All Other',
       'Clinical Laboratory Technologists and Technicians',
       'Dental Hygienists',
       'Cardiovascular Technologists and Technicians',
       'Diagnostic Medical Sonographers',
       'Nuclear Medicine Technologists', 'Radiologic Technologists',
       'Magnetic Resonance Imaging Technologists',
       'Emergency Medical Technicians and Paramedics',
       'Dietetic Technicians', 'Pharmacy Technicians',
       'Psychiatric Technicians', 'Respiratory Therapy Technicians',
       'Surgical Technologists',
       'Veterinary Technologists and Technicians',
       'Ophthalmic Medical Technicians',
       'Licensed Practical and Licensed Vocational Nurses',
       'Medical Records and Health Information Technicians',
       'Opticians, Dispensing', 'Orthotists and Prosthetists',
       'Hearing Aid Specialists',
       'Health Technologists and Technicians, All Other',
       'Occupational Health and Safety Specialists',
       'Occupational Health and Safety Technicians', 'Athletic Trainers',
       'Genetic Counselors',
       'Healthcare Practitioners and Technical Workers, All Other',
       'Home Health Aides', 'Psychiatric Aides', 'Nursing Assistants',
       'Orderlies', 'Occupational Therapy Assistants',
       'Physical Therapist Assistants', 'Physical Therapist Aides',
       'Massage Therapists', 'Dental Assistants', 'Medical Assistants',
       'Medical Equipment Preparers', 'Medical Transcriptionists',
       'Pharmacy Aides',
       'Veterinary Assistants and Laboratory Animal Caretakers',
       'Phlebotomists', 'Healthcare Support Workers, All Other',
       'First-Line Supervisors of Correctional Officers',
       'First-Line Supervisors of Police and Detectives',
       'First-Line Supervisors of Fire Fighting and Prevention Workers',
       'First-Line Supervisors of Protective Service Workers, All Other',
       'Firefighters', 'Fire Inspectors and Investigators',
       'Forest Fire Inspectors and Prevention Specialists', 'Bailiffs',
       'Correctional Officers and Jailers',
       'Detectives and Criminal Investigators', 'Fish and Game Wardens',
       'Parking Enforcement Workers',
       "Police and Sheriff's Patrol Officers", 'Animal Control Workers',
       'Private Detectives and Investigators', 'Security Guards',
       'Crossing Guards',
       'Lifeguards, Ski Patrol, and Other Recreational Protective Service Workers',
       'Transportation Security Screeners',
       'Protective Service Workers, All Other', 'Chefs and Head Cooks',
       'First-Line Supervisors of Food Preparation and Serving Workers',
       'Cooks, Fast Food', 'Cooks, Institution and Cafeteria',
       'Cooks, Restaurant', 'Cooks, Short Order', 'Cooks, All Other',
       'Food Preparation Workers', 'Bartenders',
       'Combined Food Preparation and Serving Workers, Including Fast Food',
       'Counter Attendants, Cafeteria, Food Concession, and Coffee Shop',
       'Waiters and Waitresses', 'Food Servers, Nonrestaurant',
       'Dining Room and Cafeteria Attendants and Bartender Helpers',
       'Dishwashers',
       'Hosts and Hostesses, Restaurant, Lounge, and Coffee Shop',
       'Food Preparation and Serving Related Workers, All Other',
       'First-Line Supervisors of Housekeeping and Janitorial Workers',
       'First-Line Supervisors of Landscaping, Lawn Service, and Groundskeeping Workers',
       'Janitors and Cleaners, Except Maids and Housekeeping Cleaners',
       'Maids and Housekeeping Cleaners', 'Pest Control Workers',
       'Landscaping and Groundskeeping Workers',
       'Pesticide Handlers, Sprayers, and Applicators, Vegetation',
       'Tree Trimmers and Pruners',
       'Grounds Maintenance Workers, All Other',
       'First-Line Supervisors of Gaming Workers',
       'First-Line Supervisors of Personal Service Workers',
       'Animal Trainers', 'Nonfarm Animal Caretakers',
       'Gaming and Sports Book Writers and Runners',
       'Ushers, Lobby Attendants, and Ticket Takers',
       'Amusement and Recreation Attendants',
       'Locker Room, Coatroom, and Dressing Room Attendants',
       'Entertainment Attendants and Related Workers, All Other',
       'Embalmers', 'Funeral Attendants',
       'Morticians, Undertakers, and Funeral Directors', 'Barbers',
       'Hairdressers, Hairstylists, and Cosmetologists',
       'Manicurists and Pedicurists', 'Shampooers',
       'Skincare Specialists', 'Baggage Porters and Bellhops',
       'Concierges', 'Tour and Travel Guides', 'Childcare Workers',
       'Personal Care Aides', 'Fitness Trainers and Aerobics Instructors',
       'Recreation Workers', 'Residential Advisors',
       'Personal Care and Service Workers, All Other',
       'First-Line Supervisors of Retail Sales Workers',
       'First-Line Supervisors of Non-Retail Sales Workers', 'Cashiers',
       'Counter and Rental Clerks', 'Parts Salespersons',
       'Retail Salespersons', 'Advertising Sales Agents',
       'Insurance Sales Agents',
       'Securities, Commodities, and Financial Services Sales Agents',
       'Travel Agents', 'Sales Representatives, Services, All Other',
       'Sales Representatives, Wholesale and Manufacturing, Technical and Scientific Products',
       'Sales Representatives, Wholesale and Manufacturing, Except Technical and Scientific Products',
       'Demonstrators and Product Promoters', 'Real Estate Brokers',
       'Real Estate Sales Agents', 'Sales Engineers', 'Telemarketers',
       'Sales and Related Workers, All Other',
       'First-Line Supervisors of Office and Administrative Support Workers',
       'Switchboard Operators, Including Answering Service',
       'Bill and Account Collectors', 'Billing and Posting Clerks',
       'Bookkeeping, Accounting, and Auditing Clerks',
       'Payroll and Timekeeping Clerks', 'Procurement Clerks', 'Tellers',
       'Financial Clerks, All Other', 'Brokerage Clerks',
       'Correspondence Clerks', 'Court, Municipal, and License Clerks',
       'Credit Authorizers, Checkers, and Clerks',
       'Customer Service Representatives',
       'Eligibility Interviewers, Government Programs', 'File Clerks',
       'Hotel, Motel, and Resort Desk Clerks',
       'Interviewers, Except Eligibility and Loan',
       'Library Assistants, Clerical', 'Loan Interviewers and Clerks',
       'New Accounts Clerks', 'Order Clerks',
       'Human Resources Assistants, Except Payroll and Timekeeping',
       'Receptionists and Information Clerks',
       'Reservation and Transportation Ticket Agents and Travel Clerks',
       'Information and Record Clerks, All Other',
       'Cargo and Freight Agents', 'Couriers and Messengers',
       'Police, Fire, and Ambulance Dispatchers',
       'Dispatchers, Except Police, Fire, and Ambulance',
       'Meter Readers, Utilities', 'Postal Service Clerks',
       'Postal Service Mail Carriers',
       'Postal Service Mail Sorters, Processors, and Processing Machine Operators',
       'Production, Planning, and Expediting Clerks',
       'Shipping, Receiving, and Traffic Clerks',
       'Stock Clerks and Order Fillers',
       'Weighers, Measurers, Checkers, and Samplers, Recordkeeping',
       'Executive Secretaries and Executive Administrative Assistants',
       'Legal Secretaries', 'Medical Secretaries',
       'Secretaries and Administrative Assistants, Except Legal, Medical, and Executive',
       'Computer Operators', 'Data Entry Keyers',
       'Word Processors and Typists', 'Desktop Publishers',
       'Insurance Claims and Policy Processing Clerks',
       'Mail Clerks and Mail Machine Operators, Except Postal Service',
       'Office Clerks, General',
       'Office Machine Operators, Except Computer',
       'Statistical Assistants',
       'Office and Administrative Support Workers, All Other',
       'First-Line Supervisors of Farming, Fishing, and Forestry Workers',
       'Agricultural Inspectors',
       'Graders and Sorters, Agricultural Products',
       'Agricultural Equipment Operators',
       'Farmworkers and Laborers, Crop, Nursery, and Greenhouse',
       'Farmworkers, Farm, Ranch, and Aquacultural Animals',
       'Agricultural Workers, All Other', 'Fallers',
       'Logging Equipment Operators', 'Log Graders and Scalers',
       'First-Line Supervisors of Construction Trades and Extraction Workers',
       'Boilermakers', 'Brickmasons and Blockmasons', 'Stonemasons',
       'Carpenters', 'Carpet Installers',
       'Floor Layers, Except Carpet, Wood, and Hard Tiles',
       'Floor Sanders and Finishers', 'Tile and Marble Setters',
       'Cement Masons and Concrete Finishers', 'Construction Laborers',
       'Paving, Surfacing, and Tamping Equipment Operators',
       'Operating Engineers and Other Construction Equipment Operators',
       'Drywall and Ceiling Tile Installers', 'Electricians', 'Glaziers',

In [385]:
# Filter by specific occupations
occ_rt = occ_data.loc[ (occ_data["Occupation"].str.contains("Computer|Software|Developer"))]  
occ_rt.shape

(1007, 6)

In [386]:
# Summary of specific occupation wage
occ_grp = occ_rt.groupby("Occupation")
avg_yr_wage = occ_grp["Yr_Mean_Wage"].mean().map("${:,.2f}".format)

occ_summary = pd.DataFrame({"Avg Wage/Yr": avg_yr_wage})
occ_summary["Avg Wage/Hr"] = occ_grp["Hr_Mean_Wage"].mean().map("${:,.2f}".format)
occ_summary["Employment"] = occ_grp["Tot_Emp"].sum().map("{:,}".format)

occ_summary

,Avg Wage/Yr,Avg Wage/Hr,Employment
Occupation,,,
Computer Hardware Engineers,"$91,900.00",$44.18,"59,650"
Computer Network Architects,"$94,698.27",$45.53,"158,460"
Computer Network Support Specialists,"$60,674.63",$29.17,"186,870"
"Computer Numerically Controlled Machine Tool Programmers, Metal and Plastic","$50,574.52",$24.32,"23,720"
"Computer Occupations, All Other","$83,320.38",$40.06,"307,640"
Computer Operators,"$44,043.65",$21.17,"39,650"
Computer Programmers,"$80,909.81",$38.90,"242,140"
"Computer Science Teachers, Postsecondary","$84,824.40",$0.00,"32,270"
Computer Systems Analysts,"$83,373.52",$40.08,"583,230"
Computer User Support Specialists,"$50,695.56",$24.37,"617,350"
Computer and Information Research Scientists,"$100,791.35",$48.46,"26,400"
Computer and Information Systems Managers,"$128,403.33",$61.73,"365,550"
"Computer, Automated Teller, and Office Machine Repairers","$39,736.73",$19.10,"96,780"
"Computer-Controlled Machine Tool Operators, Metal and Plastic","$39,757.50",$19.12,"144,610"
"Electronics Engineers, Except Computer","$97,551.80",$46.90,"133,370"
Network and Computer Systems Administrators,"$78,683.70",$37.83,"376,100"
"Office Machine Operators, Except Computer","$32,038.43",$15.40,"54,890"
"Software Developers, Applications","$92,267.50",$44.36,"849,460"
"Software Developers, Systems Software","$95,139.04",$45.74,"394,470"
Web Developers,"$66,074.62",$31.77,"126,050"

In [387]:
# Employment and average wage by specific occupation output excel file
occ_path = os.path.join(".", "Output", "Specific_Occupation_2017.csv")
occ_rt.to_csv(occ_path)

In [388]:
tn_data = occ_rt.loc[(occ_rt["State"] == "New Jersey") | (occ_rt["State"] == "Tennessee")]  
tn_data = tn_data.sort_values(["Occupation", "State"])

tn_data

,Hr_Mean_Wage,Jobs_1000,Occupation,State,Tot_Emp,Yr_Mean_Wage
20475,51.82,0.200,Computer Hardware Engineers,New Jersey,800,107790.0
28742,41.80,0.248,Computer Hardware Engineers,Tennessee,720,86950.0
20458,61.72,1.312,Computer Network Architects,New Jersey,5260,128370.0
28728,47.70,0.753,Computer Network Architects,Tennessee,2200,99210.0
20460,38.94,1.546,Computer Network Support Specialists,New Jersey,6200,81000.0
28730,28.42,1.226,Computer Network Support Specialists,Tennessee,3570,59110.0
21003,30.40,0.130,Computer Numerically Controlled Machine Tool P...,New Jersey,520,63230.0
29275,25.89,0.132,Computer Numerically Controlled Machine Tool P...,Tennessee,380,53850.0
20461,46.97,2.364,"Computer Occupations, All Other",New Jersey,9470,97690.0
28731,36.65,1.242,"Computer Occupations, All Other",Tennessee,3620,76240.0
20874,22.19,0.558,Computer Operators,New Jersey,2240,46140.0
29140,20.68,0.656,Computer Operators,Tennessee,1910,43020.0
20452,44.38,2.728,Computer Programmers,New Jersey,10930,92320.0
28722,36.89,1.404,Computer Programmers,Tennessee,4090,76740.0
20563,0.00,0.345,"Computer Science Teachers, Postsecondary",New Jersey,1380,103370.0
28828,0.00,0.137,"Computer Science Teachers, Postsecondary",Tennessee,400,78850.0
20450,50.84,3.287,Computer Systems Analysts,New Jersey,13170,105750.0
28720,36.07,2.870,Computer Systems Analysts,Tennessee,8370,75030.0
20459,30.98,3.468,Computer User Support Specialists,New Jersey,13900,64440.0
28729,23.56,3.252,Computer User Support Specialists,Tennessee,9480,49010.0
20449,60.21,0.320,Computer and Information Research Scientists,New Jersey,1280,125240.0
28719,52.62,0.071,Computer and Information Research Scientists,Tennessee,210,109450.0
20394,84.54,3.470,Computer and Information Systems Managers,New Jersey,13900,175830.0
28665,56.59,1.776,Computer and Information Systems Managers,Tennessee,5180,117710.0
20939,22.47,0.932,"Computer, Automated Teller, and Office Machine...",New Jersey,3740,46750.0
29215,18.35,0.506,"Computer, Automated Teller, and Office Machine...",Tennessee,1470,38180.0
21002,21.48,0.774,"Computer-Controlled Machine Tool Operators, Me...",New Jersey,3100,44680.0
29274,18.24,0.793,"Computer-Controlled Machine Tool Operators, Me...",Tennessee,2310,37930.0
20477,50.70,0.800,"Electronics Engineers, Except Computer",New Jersey,3210,105450.0
28744,47.19,0.378,"Electronics Engineers, Except Computer",Tennessee,1100,98160.0
20457,48.18,2.957,Network and Computer Systems Administrators,New Jersey,11850,100220.0
28727,38.95,1.884,Network and Computer Systems Administrators,Tennessee,5490,81020.0
20881,15.65,0.763,"Office Machine Operators, Except Computer",New Jersey,3060,32550.0
29147,13.28,0.300,"Office Machine Operators, Except Computer",Tennessee,880,27620.0
20453,51.46,10.920,"Software Developers, Applications",New Jersey,43760,107040.0
28723,42.11,2.164,"Software Developers, Applications",Tennessee,6310,87580.0
20454,56.29,2.274,"Software Developers, Systems Software",New Jersey,9110,117080.0
28724,42.75,1.550,"Software Developers, Systems Software",Tennessee,4520,88910.0
20455,37.10,0.698,Web Developers,New Jersey,2800,77160.0
28725,29.50,0.517,Web Developers,Tennessee,1510,61370.0

In [389]:
# Get Jobs 
job_data = pd.DataFrame.from_records(db.jobs.find({}, {"state": 1, "city": 1, "zipcode": 1, "title": 1, "salary": 1, "_id": 0 }))
job_data = job_data.replace(np.nan, '', regex=True)
job_data.shape

(2906, 5)

In [390]:
# Filter by specific occupations
search_str = 'Software Developer|Software|Computer Scientist|Analytical|Data Scientist|Artificial Intelligence|AI|BI|Business Intelligence|Developer|Information Technology|Data Analyst|Programmer|Business Analyst|Web Services|Web Development|Software Development|Data Engineer|Software Engineering|Data Science|Application|Machine Learning|eCommerce Analyst|Web Analyst|VB.NET|C#|SQL'
job_rt = job_data.loc[(job_data["title"].str.contains(search_str))] 
job_rt

,city,salary,state,title,zipcode
0,Oak Ridge,,TN,Software Engineer,37831
2,Chattanooga,,TN,Data Analyst II - Integration,37402
5,Pleasant View,,TN,Software Support Engineer,
6,Nashville,,TN,Data Analyst III,
7,Tennessee,,,Software Engineer,
10,Nashville,$40 - $45 an hour,TN,Data Analyst (Spotfire/Tableau),
12,Knoxville,"$90,000 - $120,000 a year",TN,Senior Software Engineer,
13,Nashville,,TN,Data Analyst,
15,Elmwood Park,,NJ,SQL Developer/Data Engineer,07407
16,Jersey City,"$63,000 - $68,000 a year",NJ,Junior Business Analyst,
19,East Brunswick,,NJ,Clinical Data Analyst,
20,Princeton,"$58,000 - $88,000 a year (Indeed est.)",NJ,Software Engineer,08540
21,New Brunswick,,NJ,Lab Data Analyst,08901
23,Township of Brick,$40 - $50 an hour,NJ,MUMPS Developer - 100% Remote,
24,Township of Warren,,NJ,Data Analyst,
25,Newark,,NJ,Software Development Engineer II - Internation...,
26,Roseland,,NJ,Associate Software Developer,
27,Jersey City,,NJ,Entry Level Software Engineer,07310
28,Lakehurst Naval Air Center,"$80,000 - $100,000 a year",NJ,Software Configuration Engineer,
29,Princeton,,NJ,Software Engineer - Angular/Javascript,08540
30,Livingston,,NJ,"AVP, Application Development",07039
31,Princeton,,NJ,Entities Data Analyst xe2x80x93 Simplified Chi...,
32,Monmouth Junction,,NJ,Software Development Engineer in Test (SDET),08852
33,Woodbridge,,NJ,Data Engineer,07095
36,Parsippany,,NJ,Software Development Engineering Intern,
37,Township of Warren,,NJ,Reporting Data Analyst,07059
38,Jersey City,,NJ,BI Data Analyst,
39,Franklin Lakes,,NJ,Associate Software Engineer,07417
40,Eatontown,,NJ,Jr. Software Developer - Didactic,07724
41,Princeton,,NJ,Data Scientist/ Machine Learning Research Prof...,08540
...,...,...,...,...,...
2850,Avenel,,NJ,Data Scientist Senior,
2851,Nashville,,TN,Data Analyst,
2853,Florham Park,,NJ,Advanced Analytics - Data Scientists,
2855,Mount Laurel,,NJ,Data Scientist,
2858,Cranbury,,NJ,Analytical Scientist - Topical/ Parenteral / O...,
2862,Memphis,,TN,Data Scientist,
2864,Memphis,,TN,Data Engineer,
2865,Oak Ridge,,TN,Research Scientist in Large-Scale Data Science...,
2867,Parsippany,,NJ,"Data Scientist, Consultant",
2868,East Hanover,,NJ,Data Scientist - NA Design Ingredients,
2869,Basking Ridge,,NJ,Data Scientist xe2x80x93 Predictive & Prescrip...,
2872,Morristown,,NJ,Data Analyst,
2873,Short Hills,,NJ,Data Scientist,
2875,Nashville,,TN,Data Scientist II,
2876,Oak Ridge,,TN,Computer/Data Scientist,
2878,Brentwood,,TN,"Data Scientist, Marketing",
2880,Newark,,NJ,Data Scientist,
2881,Bridgewater,,NJ,Engineering Data Scientist,
2883,Murray Hill,,NJ,Data Scientist,
2884,Holmdel,,NJ,Associate Data Scientist,
2886,Princeton,,NJ,Computational Data Scientist,
2888,Newark,,NJ,Field Service Applications Specialists - Newar...,
2890,Oak Ridge,,TN,Sr. Research Scientist in Artificial Intellige...,
2891,New Brunswick,,NJ,"Lead Data Scientist, Commercial Analytics",
2893,Oak Ridge,,TN,Research Scientist in Artificial Intelligence ...,
2895,Franklin,,TN,Data Analyst II,
2897,Hermitage,,TN,Data Analyst (Architecture Team),
2899,Newark,,NJ,Field Service Applications Specialists,
2902,Princeton,,NJ,Research Scientist - Multimodal Machine Learni...,
2903,East Windsor,,NJ,Analytical Scientist,

In [391]:
job_rt.shape

(1181, 5)

In [392]:
job_rt

,city,salary,state,title,zipcode
0,Oak Ridge,,TN,Software Engineer,37831
2,Chattanooga,,TN,Data Analyst II - Integration,37402
5,Pleasant View,,TN,Software Support Engineer,
6,Nashville,,TN,Data Analyst III,
7,Tennessee,,,Software Engineer,
10,Nashville,$40 - $45 an hour,TN,Data Analyst (Spotfire/Tableau),
12,Knoxville,"$90,000 - $120,000 a year",TN,Senior Software Engineer,
13,Nashville,,TN,Data Analyst,
15,Elmwood Park,,NJ,SQL Developer/Data Engineer,07407
16,Jersey City,"$63,000 - $68,000 a year",NJ,Junior Business Analyst,
19,East Brunswick,,NJ,Clinical Data Analyst,
20,Princeton,"$58,000 - $88,000 a year (Indeed est.)",NJ,Software Engineer,08540
21,New Brunswick,,NJ,Lab Data Analyst,08901
23,Township of Brick,$40 - $50 an hour,NJ,MUMPS Developer - 100% Remote,
24,Township of Warren,,NJ,Data Analyst,
25,Newark,,NJ,Software Development Engineer II - Internation...,
26,Roseland,,NJ,Associate Software Developer,
27,Jersey City,,NJ,Entry Level Software Engineer,07310
28,Lakehurst Naval Air Center,"$80,000 - $100,000 a year",NJ,Software Configuration Engineer,
29,Princeton,,NJ,Software Engineer - Angular/Javascript,08540
30,Livingston,,NJ,"AVP, Application Development",07039
31,Princeton,,NJ,Entities Data Analyst xe2x80x93 Simplified Chi...,
32,Monmouth Junction,,NJ,Software Development Engineer in Test (SDET),08852
33,Woodbridge,,NJ,Data Engineer,07095
36,Parsippany,,NJ,Software Development Engineering Intern,
37,Township of Warren,,NJ,Reporting Data Analyst,07059
38,Jersey City,,NJ,BI Data Analyst,
39,Franklin Lakes,,NJ,Associate Software Engineer,07417
40,Eatontown,,NJ,Jr. Software Developer - Didactic,07724
41,Princeton,,NJ,Data Scientist/ Machine Learning Research Prof...,08540
...,...,...,...,...,...
2850,Avenel,,NJ,Data Scientist Senior,
2851,Nashville,,TN,Data Analyst,
2853,Florham Park,,NJ,Advanced Analytics - Data Scientists,
2855,Mount Laurel,,NJ,Data Scientist,
2858,Cranbury,,NJ,Analytical Scientist - Topical/ Parenteral / O...,
2862,Memphis,,TN,Data Scientist,
2864,Memphis,,TN,Data Engineer,
2865,Oak Ridge,,TN,Research Scientist in Large-Scale Data Science...,
2867,Parsippany,,NJ,"Data Scientist, Consultant",
2868,East Hanover,,NJ,Data Scientist - NA Design Ingredients,
2869,Basking Ridge,,NJ,Data Scientist xe2x80x93 Predictive & Prescrip...,
2872,Morristown,,NJ,Data Analyst,
2873,Short Hills,,NJ,Data Scientist,
2875,Nashville,,TN,Data Scientist II,
2876,Oak Ridge,,TN,Computer/Data Scientist,
2878,Brentwood,,TN,"Data Scientist, Marketing",
2880,Newark,,NJ,Data Scientist,
2881,Bridgewater,,NJ,Engineering Data Scientist,
2883,Murray Hill,,NJ,Data Scientist,
2884,Holmdel,,NJ,Associate Data Scientist,
2886,Princeton,,NJ,Computational Data Scientist,
2888,Newark,,NJ,Field Service Applications Specialists - Newar...,
2890,Oak Ridge,,TN,Sr. Research Scientist in Artificial Intellige...,
2891,New Brunswick,,NJ,"Lead Data Scientist, Commercial Analytics",
2893,Oak Ridge,,TN,Research Scientist in Artificial Intelligence ...,
2895,Franklin,,TN,Data Analyst II,
2897,Hermitage,,TN,Data Analyst (Architecture Team),
2899,Newark,,NJ,Field Service Applications Specialists,
2902,Princeton,,NJ,Research Scientist - Multimodal Machine Learni...,
2903,East Windsor,,NJ,Analytical Scientist,

In [393]:
# Jobs output excel file
job_path = os.path.join(".", "Output", "Jobs_2017.csv")
job_rt.to_csv(job_path)

In [394]:
# Jobs Count within 2 states by job title
job_grp = job_rt.groupby("title")
job_ct = job_grp["state"].count()
job_summary = pd.DataFrame({"Job_Count": job_ct})
job_summary = job_summary.reset_index()
job_summary = job_summary.sort_values("Job_Count", ascending=False)

job_summary

                                                 title  Job_Count
611                                  Software Engineer         56
101                                   Business Analyst         47
159                                       Data Analyst         41
203                                     Data Scientist         39
567                                 Software Developer         30
544                           Senior Software Engineer         26
194                                      Data Engineer         19
442                                 Programmer Analyst         14
513                              Senior Data Scientist          8
67                            Associate Data Scientist          6
80                         Associate Software Engineer          6
641                                Software Engineer I          6
381                                Lead Data Scientist          5
119                      Business Intelligence Analyst          5
507                               Senior Data Engineer          5
278                      Entry Level Software Engineer          5
709                              Sr. Software Engineer          4
503                                Senior Data Analyst          4
302                       Full Stack Software Engineer          4
353                             Java Software Engineer          4
116                              Business Data Analyst          4
424                           Principal Data Scientist          4
178                                    Data Analyst II          3
78                        Associate Software Developer          3
110                                Business Analyst II          3
607                       Software Development Manager          3
73         Associate Principal Engineer- Data Engineer          3
688                             Software Test Engineer          3
448                                 Programmer/Analyst          3
351                                     Java Developer          3
..                                                 ...        ...
299  Full Stack Developer (Watershed) Nashville, US...          1
300               Full Stack Developer - Django Python          1
301     Full Stack Java Developer(junior to mid level)          1
303                           Full Stack Web Developer          1
304  Full Time-JDE Business Analyst Needed, Memphis...          1
305                      Full-Stack Software Developer          1
306                       Full-Stack Software Engineer          1
307                   Full-stack ASP.NET Web Developer          1
308                               GIS Business Analyst          1
288             Fieldprint Application Support Analyst          1
287  Field Support Representative-Veterinary Softwa...          1
286  Field Service Applications Specialists - Newar...          1
275  Entities Data Analyst xe2x80x93 Simplified Chi...          1
268                         Embedded Software Engineer          1
269    Embedded Software Engineer for Unmanned Systems          1
270     Engineer I, Software Quality Assurance Testing          1
271                  Engineer II, Software Engineering          1
272  Engineer, Software (Custom Application Develop...          1
273                         Engineering Data Scientist          1
274  Entities Data Analyst xc3xa2xe2x82xacxe2x80x9c...          1
276                       Entry Level Software Analyst          1
285             Field Service Applications Specialists          1
277                     Entry Level Software Developer          1
279           Entry-Level Cognitive Software Developer          1
280                      Entry-Mid Level Web Developer          1
281                                 Ethereum Developer          1
282                     Experienced Software Developer          1
283                       FULL Stack Backend Developer          1
284                        Field Application Scientist          1
743                 xc2xa0Mid-Level Software Developer          1

[744 rows x 2 columns]

In [395]:
# Sort by salary
job_st = job_rt.sort_values(["salary", "state"], ascending=False)
job_st.head(100)

,city,salary,state,title,zipcode
300,Knoxville,"$95,000 - $100,000 a year",TN,Technical Data Analyst,37923
12,Knoxville,"$90,000 - $120,000 a year",TN,Senior Software Engineer,
698,Nashville,"$90,000 - $120,000 a year",TN,Full-Stack Software Developer,
1736,Nashville,"$90,000 - $110,000 a year",TN,Senior Software Developer,
160,Knoxville,"$90,000 - $105,000 a year",TN,Software Developer,
757,Cedar Knolls,"$90,000 - $100,000 a year",NJ,Software Programmer - Crestron Systems Exp Req...,
155,Kendall Park,"$88,546 a year",NJ,Business Analyst,08824
1598,Township of Warren,"$85,000 - $128,000 a year (Indeed est.)",NJ,Data Analytics and Developer,07059
806,Nashville,"$80,000 a year",TN,Assembler Programmer IBM Mainframe,
1993,Nashville,"$80,000 a year",TN,Software Product Marketing Manager,
294,Brentwood,"$80,000 - $98,000 a year",TN,Data Scientist,
1733,Township of Warren,"$80,000 - $90,000 a year",NJ,Intermediate/Senior Software Developer,
28,Lakehurst Naval Air Center,"$80,000 - $100,000 a year",NJ,Software Configuration Engineer,
360,Trenton,"$77,526 a year",NJ,Data Governance Analysts (Information Technolo...,
1135,Englewood Cliffs,"$76,000 - $114,000 a year (Indeed est.)",NJ,Software Engineer,
887,Holmdel,"$76,000 - $112,000 a year (Indeed est.)",NJ,Associate Data Scientist,07733
148,Somerset,"$75,000 a year",NJ,Programmer Analyst,
996,Nashville,"$75,000 - $95,000 a year",TN,"Full Stack Developer (Watershed) Nashville, US...",
1499,Belleville,"$75,000 - $90,000 a year",NJ,Senior Software Engineer,
1382,Nashville,"$75,000 - $120,000 a year",TN,"Software Engineers-Junior, Mid, Senior",
1862,Franklin,"$70,000 - $100,000 a year",TN,Inside Software Sales Representative,
1484,Peapack,"$70,000 - $100,000 a year",NJ,Job available for a Business Analyst (Pharma),
1075,Jersey City,$70 - $75 an hour,NJ,Sr. Java Application Engineer,
1383,Camden,"$66,000 - $95,000 a year (Indeed est.)",NJ,DATA ANALYTICS DEVELOPER - Information Technology,08103
98,Mount Arlington,"$65,000 a year",NJ,Product Specialist - Preclinical Software,
1103,Marlton,"$65,000 a year",NJ,Product Programmer Specialist,
73,Jersey City,"$65,000 - $140,000 a year",NJ,Java Software Engineer,
2138,Nashville,"$65,000 - $100,000 a year",TN,Sr Software Programmer,
328,Cherry Hill,$65 - $75 an hour,NJ,Data Analyst / Data Scientist,
735,Holmdel,$65 - $75 an hour,NJ,QA Automation Developer (QTP/Quality Center/Se...,07733
...,...,...,...,...,...
1372,Nashville,$35 - $40 an hour,TN,"Software Engineer, Java",
466,Woodland Park,$34.00 - $35.40 an hour,NJ,Business/Data Analyst - MS Excel,
1034,Nashville,"$30,000 - $80,000 a year",TN,FULL Stack Backend Developer,
351,Rancocas,"$3,500 - $5,000 a month",NJ,IT and Data Engineer,
637,Raritan,$27 - $37 an hour,NJ,Clinical Data Analyst (Medidata CTMS),08869
684,Bernardsville,$25 an hour,NJ,2019 Web Developer Summer Intern,07924
150,Edison,$25 - $50 an hour,NJ,RPA Developer,
1127,Tennessee,$25 - $35 an hour,,Business Analyst,
1371,Franklin,$20 - $37 an hour,TN,Business Analyst,37067
316,Newark,$18.50 an hour,NJ,Entry Level Software Analyst,
1525,Rockleigh,"$150,000 - $175,000 a year",NJ,Machine Learning Engineer(Edge-based Learning),
310,Antioch,$15 - $20 an hour,TN,Community & Data Analyst,37013
1141,Somerset,"$124,000 a year",NJ,Business Analyst,
324,New Brunswick,"$122,000 - $180,000 a year (Indeed est.)",NJ,"Data Scientist, Commercial Analytics",
357,Holmdel,"$120,000 - $180,000 a year",NJ,Senior Data Scientist,07733
327,Holmdel,"$114,000 - $153,000 a year (Indeed est.)",NJ,Senior Software Engineer,
781,Jersey City,"$110,000 - $130,000 a year",NJ,Senior Talend Data Integration Designer and De...,
277,Nashville,"$110,000 - $125,000 a year",TN,Lead Software Designer,
320,Jersey City,"$108,000 - $159,000 a year (Indeed est.)",NJ,"Data Scientist, RBC Amplify - 2019",
986,Voorhees,"$107,515 a year",NJ,Sr. Software Engineer,08043
607,Secaucus,"$106,000 - $157,000 a year (Indeed est.)",NJ,Data Scientist - Digital Analyst,
317,Lyndhurst,"$101,000 - $148,000 a year (Indeed est.)",NJ,BI Data Scientist,
1408,Township of Warren,"$100,000 a year",NJ,C# .Net Developer,
2081,Princeton,"$100,000 - $140,000 a year",NJ,Front End Software Engineer - Angular,08540
528,Nashville,"$100,000 - $120,000 a year",TN,Senior Software Engineer,
510,Clark,"$100,000 - $120,000 a year",NJ,Principal Software Engineer - MEAN Stack,07066
1635,Memphis,"$100,000 - $115,000 a year",TN,"Full Time-JDE Business Analyst Needed, Memphis...",
0,Oak Ridge,,TN,Software Engineer,37831
2,Chattanooga,,TN,Data Analyst II - Integration,37402
5,Pleasant View,,TN,Software Support Engineer,

In [400]:
# Jobs Count within 2 states by job title
job_grp = job_rt.groupby(["state", "city"])
job_ct = job_grp["title"].count()
job_summary = pd.DataFrame({"Job_Count": job_ct})
job_summary = job_summary.sort_values(["state", "city"], ascending=False)

job_summary

                        Job_Count
state city
TN    Tullahoma                 3
      Springfield               1
      Spring Hill               1
      Sevierville               1
      Pleasant View             1
      Piney Flats               3
      Oak Ridge                20
      Nashville               146
      Mount Juliet              1
      Millington                1
      Memphis                  52
      Maryville                 3
      Martin                    1
      Lewisburg                 1
      La Vergne                 8
      Knoxville                38
      Kingsport                 2
      Johnson City              2
      Jackson                   1
      Hermitage                 7
      Hartsville                1
      Greeneville               1
      Franklin                 36
      Crossville                1
      Cool Springs              1
      Cookeville                1
      Columbia                  1
      Collierville              6
      Cleveland                 1
      Clarksville               2
...                           ...
NJ    Eatontown                 4
      East Windsor              3
      East Rutherford           3
      East Hanover              6
      East Brunswick            4
      Cranbury                  6
      Colts Neck                1
      Clinton                   1
      Clifton                   1
      Clark                     2
      Cinnaminson               2
      Cherry Hill               4
      Cedar Knolls              1
      Camden                    6
      Burlington                1
      Bridgewater               7
      Branchville               1
      Branchburg                1
      Bloomfield                6
      Bernardsville             2
      Berkeley Heights          1
      Belleville                1
      Basking Ridge            23
      Avenel                   68
      Atlantic City             4
      Alpha                     1
      Allentown                 1
      United States             2
      Tennessee                 7
      New Jersey                9

[172 rows x 1 columns]